<form action="/expense/<%=@expense[0][:id]%>" method="POST">
    <h2>Edit:</h2>

    <label for="item">Item:</label>
    <input type="text" name="item" id="item" value= "<%=@expense[0][:name]%>" required>
    <br>
    <br>
    <label for="price">Price:</label>
    <input type="number" name="price" id="price" min="0" value="<%=@expense[0][:price]%>" step = "0.01" required>
    <br>
    <br>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date" value="<%=@expense[0][:date]%>" required>
    <br>
    <br>
    <div id="wasted_check">
        <p>Wasted money?</p>
        <label for="wasted">Yes</label>
        <input type="radio" name="wasted" id="wasted" value="yes" required>
        <label for="not_wasted">No</label>
        <input type="radio" name="wasted" id="not_wasted" value="no" required>
        <div>
        <br>
        <input type="submit" value="Submit">
    </div>
    <div>
        <a href="/<%= session[:previous_page] %>">Cancel</a>
    </div>
</form>